@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #349997;
    width: 100vw;
  }
  #header #navbar #mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
    height: 100%;
  }
  #header #navbar #mobile-nav #bar-icon {
    display: block;
    font-size: 50px;
    margin-right: 5vw;
    cursor: pointer;
  }
  #header #navbar .nav-items {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10vh 0 0 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 5vw;
    opacity: 1;
    background-color: #349997;
    border-top: 2px solid #000;
  }
  #header #navbar .nav-items .nav-links {
    color: #000;
  }
  #welcome-section {
    height: 200vh !important;
  }
  #welcome-section .Intro .main-page .my-info {
    margin: 5vh 0 !important;
    padding-top: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #welcome-section .Intro .main-page .my-info .about-me,
  #welcome-section .Intro .main-page .my-info .about-page {
    width: 100% !important;
  }
  #welcome-section .Intro .main-page .my-info .line {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 0.1rem !important;
  }
  #welcome-section .Intro .main-page .my-info .about-me-text {
    width: 100% !important;
  }
  #welcome-section .Intro .main-page .my-info .about-me-text .my-link {
    font-size: 2.25rem !important;
  }
  #welcome-section .Intro .welcome-link {
    display: none;
  }
  #projects {
    border: 1vw solid black !important;
  }
  #projects .view-codepen {
    font-size: 1.5rem;
  }
  #projects #close {
    font-size: 5rem !important;
  }
  #projects .popup-projects {
    margin: 0;
    padding: 0;
  }
  #projects .popup-projects .category-title {
    font-size: 2rem !important;
  }
  #projects .popup-projects .Project {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  #projects .popup-projects .Project .project-img,
  #projects .popup-projects .Project .info {
    width: 100% !important;
    height: 50% !important;
    margin: 1rem 0;
  }
  .Footer {
    width: 100vw !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    overflow: hidden;
  }
  .Footer .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    height: 10%;
    font-size: 12vw !important;
  }
  .Footer .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 80%;
  }
  .Footer .footer-info .location,
  .Footer .footer-info .contact-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100% !important;
    margin: 5vh 0;
  }
  .Footer .footer-info #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    margin: 0;
    padding: 0;
  }
  .Footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 10%;
    font-size: 4vw !important;
  }
  .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media screen and (min-width: 768px) {
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.App {
  font-family: "Ultra", serif;
}

.App .header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: transparent;
  z-index: 3;
}

.App .header #navbar {
  opacity: 0;
  position: relative;
  height: 100%;
  font-size: 1.5vw;
}

.App .header #navbar #mobile-nav {
  display: none;
}

.App .header #navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 25%;
  height: 100%;
  list-style-type: none;
}

.App .header #navbar .nav-links {
  color: whitesmoke;
  text-decoration: none;
}

.App .header #navbar .nav-links:hover {
  color: grey;
}

.App #welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("https://i.imgur.com/wMuOdmE.jpg");
  text-align: center;
  font-family: "Lobster", cursive;
}

.App #welcome-section .Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
}

.App #welcome-section .Intro .intro-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: linear-gradient(62deg, #000000 0%, #252525 100%);
  z-index: 1;
}

.App #welcome-section .Intro .intro-div .intro-txt {
  opacity: 0;
}

.App #welcome-section .Intro .intro-div .intro-txt .intro-text {
  color: whitesmoke;
  font-size: 4rem;
}

.App #welcome-section .Intro .slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  background-image: linear-gradient(62deg, #383838 0%, #474747 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 1;
}

.App #welcome-section .Intro .main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 95%;
}

.App #welcome-section .Intro .main-page .my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
}

.App #welcome-section .Intro .main-page .my-info .about-page,
.App #welcome-section .Intro .main-page .my-info .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 100%;
}

.App #welcome-section .Intro .main-page .my-info .line {
  width: 0.05vw;
  height: 0;
  background-color: whitesmoke;
}

.App #welcome-section .Intro .main-page .my-info .about-me-text {
  width: 75%;
}

.App #welcome-section .Intro .main-page .my-info .about-me-text .my-link {
  font-size: 2.75rem;
  color: #349997;
  text-shadow: black 5px 4px 10px;
}

.App #welcome-section .Intro .main-page .my-info .about-me-text .my-link:hover {
  color: grey;
  text-shadow: black 5px 4px 10px;
}

.App #welcome-section .Intro .main-page .my-info .about-me-text .my-stack {
  margin: 2vw 0 1vw 0;
}

.App #welcome-section .Intro .main-page .my-info .about-me-text .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.App #welcome-section .Intro .main-page .call-for-action {
  opacity: 0;
}

.App #welcome-section .Intro .main-page .call-for-action .welcome-text {
  font-size: 2.5rem;
  cursor: default;
  text-decoration: none;
}

.App #welcome-section .Intro .main-page .call-for-action .welcome-text .welcome-link {
  color: #349997;
}

.App #welcome-section .Intro .main-page .call-for-action .welcome-text .welcome-link:hover {
  color: #707070;
  text-decoration: underline;
  cursor: pointer;
}

.App #welcome-section .Intro .main-page .call-for-action .arrow {
  color: #349997;
  font-size: 3rem;
}

.App #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4rem solid black;
  background-image: linear-gradient(62deg, #0d4846 0%, #349997 100%);
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Add Zoom Animation */
  /* The Close Button (x) */
}

.App #projects #project-title {
  text-align: center;
  padding: 5vh 0;
  color: black;
  font-size: 4rem;
  font-weight: 400;
}

.App #projects .project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
  width: 100%;
  height: 50%;
  margin: 2.5rem 0 7.5rem 0;
  background-color: whitesmoke;
  border: 0.5rem solid black;
  outline: 0.25rem solid whitesmoke;
}

.App #projects .categories {
  width: 328px;
  height: 328px;
  margin: 0 1.25px;
  padding-bottom: 350px;
  background-color: whitesmoke;
  border: 1rem solid whitesmoke;
  text-align: center;
}

.App #projects .categories .icon {
  cursor: pointer;
  border-radius: 50%;
}

.App #projects .categories:hover {
  background-color: #c8c8c8;
}

.App #projects #popup-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.App #projects #popup-content {
  width: 90%;
  height: 90%;
}

.App #projects .popup-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.App #projects .popup-projects .category-title {
  margin: 2vw;
  text-align: center;
  font-size: 3vw;
}

.App #projects .popup-projects::-webkit-scrollbar {
  display: none;
}

.App #projects .Project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 550px;
  margin: 2.5vh 0 5vh 0;
  padding: 2vh;
  border: 4px solid black;
  background-color: whitesmoke;
}

.App #projects .Project .project-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.App #projects .Project .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 50%;
  height: 100%;
}

.App #projects .Project .info .gitRepo,
.App #projects .Project .info .gitPage {
  font-size: 3.5rem;
  color: #000;
  margin: 1rem;
}

.App #projects .Project .info .gitRepo:hover,
.App #projects .Project .info .gitPage:hover {
  color: grey;
}

.App #projects .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.App #projects #close {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 25px;
  color: #fff;
  font-size: 5vw;
  font-weight: bold;
}

.App #projects #close:hover,
.App #projects #close:focus {
  color: #349997;
  cursor: pointer;
}

.App .view-codepen {
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
  margin: 2.5vh;
}

.App .view-codepen:hover {
  color: #b4b4b4;
}

.App .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  background: #73c8a9;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#0d4846));
  background: linear-gradient(360deg, #000000 0%, #0d4846 100%);
  color: #afafaf;
}

.App .Footer .footer-title {
  font-size: 3.5rem;
  margin: 5vw;
}

.App .Footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 80%;
  font-size: 2rem;
}

.App .Footer .footer-info .contact-title,
.App .Footer .footer-info .location-title {
  font-size: 2.25rem;
}

.App .Footer .footer-info .location-info,
.App .Footer .footer-info .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  height: 50%;
  text-align: center;
}

.App .Footer .footer-info .location-info .contact-links,
.App .Footer .footer-info .contact-info .contact-links {
  width: 4.5rem;
  height: 4.5rem;
  margin: 1rem;
  font-size: 3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  color: black;
}

.App .Footer .footer-info .location-info .contact-links:hover,
.App .Footer .footer-info .contact-info .contact-links:hover {
  background-color: black;
  color: whitesmoke;
}

.App .Footer .copyright {
  font-size: 1vw;
  margin: 2vw;
}

.App .tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.App .tags li {
  float: left;
}

.App .tag {
  border-radius: 5%;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.App .tag::before {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.App .tag:hover {
  opacity: 0.8;
  color: #fff;
  cursor: pointer;
}

.App .tag:hover::after {
  border-left-color: crimson;
}
/*# sourceMappingURL=App.css.map */